services:
  db:
    image: pgvector/pgvector:pg16
    container_name: rag_postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-vector_db}"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  pg_data:
